body{
  box-sizing: border-box;
  background: #000000;
}
.center{
  text-align: center;
}
.white{
  color: white;
}
.pink{
  background: #FF1493;
}
.pink:active{
  background: #ffff !important;
  color: #FF1493 !important;
}
.margin-top{
  margin-top: 30px;
}
