body{
  box-sizing: border-box;
}
.grad70 {
  background:linear-gradient(	#C71585, #9400D3);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
}
.center{
  text-align: center;
}
.white{
  color: white;
}
.pink{
  background: #FF1493;
}
.pink:active{
  background: #ffff !important;
  color: #FF1493 !important;
}
.margin-top{
  margin-top: 30px;
}
