<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>Sign up</title>
</head>
<body class="grad70 vh100">
	<header>
	  <div class="container">
		  <div class="row">
				<div class="col-xs-2">
					<div class="slide-buttons container-flex-row">
            <a href="signup.html" type="button" class="btn btn-success pink">
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </a>
          </div>
				</div>
				<div class="col-xs-10 center white">
					<h1>Sign Up</h1>
					<p>Join now for free ride credit</p>
			  </div>
      </div>
	 </div>
	</header>
	<main>
		<!---AGREGANDO FORMULARIO-->
		<form class="container-flex-colum">
			<!---EMAIL-->
				<div class="form-group">
						<label for="inputEmail">Email address</label>
						<input type="email" class="form-control" id="inputEmail" placeholder="Email">
				</div>
				<!---CONTRASEÑA-->
				<div class="form-group">
						<label for="inputPassword">Password</label>
						<input type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
				<br>
				<br>
				<!---AGREGANDO BOTON REGISTRARSE (DESACTIVADO)-->
				<div class="row">
		      <div class="col-xs-12">
		        <button type="button" class="btn btn-primary btn-lg btn-block pink" disabled>SIGN UP</button>
		      </div>
		    </div>
		</form>
	</main>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/signup2.js"></script>
</body>
</html>
