<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/signup.css">
	<title>Sign up</title>
</head>
<body>
	<!---AGREGANDO HEADER-->
	<header>
	  <div class="container">
		  <div class="row">
				<div class="col-xs-2">
					<div class="slide-buttons container-flex-row">
            <a href="home.html" type="button" class="btn btn-success pink">
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </a>
          </div>
				</div>
				<div class="col-xs-10 center white">
					<h1>Sign Up</h1>
					<p>Join now for free ride credit</p>
			  </div>
      </div>
	 </div>
	</header>
	<main>
	  <div class="container">
		  <div class="row margin-top">
				<div class="col-xs-12">
					<div class="input-group">
					  <div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Países <span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a><img src="../assets/img/colombia_flag.png" alt="">Colombia</a></li>
								<li><a><img src="../assets/img/mexico_flag.png" alt="">México</a></li>
								<li><a><img src="../assets/img/peru_flag.png" alt="">Perú</a></li>
								<li><a><img src="../assets/img/usa_flag.png" alt="">EE.UU</a></li>
							</ul>
					  </div>
					  <input type="tel" class="form-control" name="telefono" aria-label="...">
					</div>
			  </div>

			</div>
			<div class="row margin-top">
				<div class="col-xs-12">
          <button type="button" class="btn btn-primary btn-lg btn-block pink" disabled>Sign up</button>
				</div>
			</div>
		</div>
	</main>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/signup.js"></script>
</body>
</html>
